<!-- build:include layout/header.html --><!-- /build -->

<div class="container margin-top">
    <div class="row">
        <div class="col-md-8">
            <h2 class="section-title">Latest images</h2>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="img-caption-ar">
                        <img src="<%= assets %>img/demo/w1.jpg" class="img-responsive" alt="Image">
                        <div class="caption-ar">
                            <div class="caption-content">
                                <a href="#" class="animated fadeInDown"><i class="fa fa-search"></i>More info</a>
                                <h4 class="caption-title">Image title</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="img-caption-ar">
                        <img src="<%= assets %>img/demo/w2.jpg" class="img-responsive" alt="Image">
                        <div class="caption-ar">
                            <div class="caption-content">
                                <a href="#" class="animated fadeInDown"><i class="fa fa-search"></i>More info</a>
                                <h4 class="caption-title">Image title</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="img-caption-ar">
                        <img src="<%= assets %>img/demo/w3.jpg" class="img-responsive" alt="Image">
                        <div class="caption-ar">
                            <div class="caption-content">
                                <a href="#" class="animated fadeInDown"><i class="fa fa-search"></i>More info</a>
                                <h4 class="caption-title">Image title</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="img-caption-ar">
                        <img src="<%= assets %>img/demo/w4.jpg" class="img-responsive" alt="Image">
                        <div class="caption-ar">
                            <div class="caption-content">
                                <a href="#" class="animated fadeInDown"><i class="fa fa-search"></i>More info</a>
                                <h4 class="caption-title">Image title</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="img-caption-ar">
                        <img src="<%= assets %>img/demo/w5.jpg" class="img-responsive" alt="Image">
                        <div class="caption-ar">
                            <div class="caption-content">
                                <a href="#" class="animated fadeInDown"><i class="fa fa-search"></i>More info</a>
                                <h4 class="caption-title">Image title</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="img-caption-ar">
                        <img src="<%= assets %>img/demo/w6.jpg" class="img-responsive" alt="Image">
                        <div class="caption-ar">
                            <div class="caption-content">
                                <a href="#" class="animated fadeInDown"><i class="fa fa-search"></i>More info</a>
                                <h4 class="caption-title">Image title</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- row -->
</div> <!-- container -->

<!-- build:include layout/footer.html --><!-- /build -->
